.bookForm {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0 auto;
	padding: 100px;
	background-color: rgb(255, 255, 255);
	margin-top: 100px;
	margin-bottom: 200px;
}

.formBox {
	background-color: rgba(255, 255, 255, 0.349);
	padding: 80px;
	box-shadow: 0 5px 20px 20px rgba(0, 0, 0, 0.1);
	background-image: url('pattern.jpg');
	background-size: 40%;
}

form {
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
}

.noScroll {
	overflow: hidden;
}
